@{
}

<h2>Hello! Parece que você atinjiu seu limite de projetos.</h2>
<h2>Perdoe-nos, mas não há espaço o suficiente para todos</h2>
<hr />
<h2>Caso seja necesário mais projetos, você pode: </h2>
<ul>
    <li>Deletar um de seus Projetos</li>
    <li>Reclamar do desenvolvedor</li>
    <li>Reclamar com o desenvolvedor, por esse e-mail: <a href="extensioprocuratioautomatic@hotmail.com">extensioprocuratioautomatic@hotmail.com</a></li>
    <li>Reclamar consigo mesmo. (Essa função não será suporteda em versões .NET 7 em diante)</li>
    <li>etc.</li>
</ul>