@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>Dados Pessoais</h3>

<div class="row">
    <div class="col-md-9">
        <p>Por motivos de transparencia você, nosso usuário, pode baixar seus dados pessoais ou deleta-los</p>
        <p>
            <strong>Ao deletar sua conta, os dados serão permanentemente removidos. Após essa operação os mesmos não poderão ser recuperados</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <div class="container-link-list">
                <button id="btn-download" class="btn btn-primary" type="submit">Download</button>
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Deletar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}