@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>Email Confimado!</h1>
@*<partial name="_StatusMessage" model="Model.StatusMessage" />*@
Podes efetuar o Login agora! Aproveite

<a asp-area="Identity" asp-page="/Account/Login">Ir para Login</a>