@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --clr-primary: #009f48;
    --clr-primary-soft: #3bbe76;
    --clr-primary-soft2: #bfffdc;
    --clr-primary-dark: #00652e;
    --clr-secondary: #D61927;
    --clr-secondary-soft: #e24955;
    --clr-secondary-dark: #a5141f;
    --clr-special: #472ea4;
    --clr-special-soft: #8f76ed;
    --clr-special-dark: #2f1e6d;
    --clr-shadow: #090909;
    --clr-background: var(--clr-shadow);
    --clr-background-soft: #2c2c2c;
    --clr-background-contrast: #696969;
    --clr-background-contrast-soft: #3e3e3e;
    --clr-font-soft: #e1e1e1;
}

::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-track {
    background: var(--clr-shadow);
}

::-webkit-scrollbar-thumb {
    background: var(--clr-primary);
}

@media (min-width: 768px) {
    html {
        font-size: 1rem;
    }
}

nav.border-bottom {
    border-bottom: 1px solid var(--clr-primary) !important;
}

html {
    font-size: 0.9rem;
    color: white;
    min-height: 100%;
    background: linear-gradient(120deg, var(--clr-background), var(--clr-background-soft));
    background-repeat: no-repeat;
}

body {
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    position: relative;
    min-height: 100vh;
}

.form-check-input {
    accent-color: var(--clr-primary-soft) !important;
}

a {
    color: var(--clr-special-soft) !important;
}

#main-content {
    min-height: 85vh;
}

#ex-logo {
    width: 50px;
    height: auto;
    margin-right: 1rem;
}

.nav-link, .navbar-brand {
    color: white !important;
}

#footer {
    position: relative !important;
    margin-top: 1rem;
    white-space: normal;
    line-height: normal !important;
}

footer div {
    margin-top: 1rem;
    bottom: 100%;
    text-align: left;
    padding: 3px;
    background-color: transparent;
    color: white !important;
}

header {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, var(--clr-background), var(--clr-background-soft));
}

.form-control {
    margin-bottom: 0.5rem;
}

.btn-primary {
    color: white !important;
    background-color: var(--clr-primary) !important;
    border-color: var(--clr-primary-dark) !important;
    transition: background 1s;
}

    .btn-primary:hover {
        background-color: var(--clr-primary-dark) !important;
        border-color: var(--clr-primary) !important;
    }

.btn-danger {
    color: white !important;
    background-color: var(--clr-secondary) !important;
    border-color: var(--clr-secondary-dark) !important;
    transition: background 1s;
}

    .btn-danger:hover {
        background-color: var(--clr-secondary-dark) !important;
        border-color: var(--clr-secondary) !important;
    }

.btn-warning {
    color: white !important;
    background-color: var(--clr-special) !important;
    border-color: var(--clr-special-dark) !important;
    transition: background 1s;
}

    .btn-warning:hover {
        background-color: var(--clr-special-dark) !important;
        border-color: var(--clr-special) !important;
    }

.nav-link.active {
    background-color: var(--clr-special) !important;
}

#configuration-container {
    margin-bottom: 2rem !important;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--clr-background-contrast-soft) !important;
}
/*Form */
.container-small-form {
    width: min(90%, 50rem);
    margin-inline: auto;
    margin-top: 3%;
    padding: 0.8rem;
    color: white;
    background: var(--clr-background-soft);
    border-radius: 1rem;
}

    .container-small-form .form-control, .form-select {
        margin-bottom: 0.5rem !important;
    }

#registerSubmit, #login-submit {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}

.btn-consecutive-container {
    display: flex;
    gap: 0.3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.btn-full-consecutive {
    width: 50%;
}

@media(max-width: 500px) {
    .btn-full-consecutive {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .btn-consecutive-container {
        display: block;
    }
}

label.form-label #Input_RememberMe {
    margin-top: 5px !important;
}

.container-link-list {
    display: flex;
    justify-content: space-between;
    width: min(90%, 800px);
    margin-inline: auto;
    margin-top: 2%;
}

    .container-link-list .btn {
        width: 45%;
    }

.input-bigbox {
    height: 5rem;
    max-height: 1.3rem;
    max-height: 9.3rem;
}

/*Modal*/
.modal-content {
    background: linear-gradient(275deg, var(--clr-background), var(--clr-background-soft));
}

    .modal-content .close {
        color: white;
        border-radius: 1rem;
        width: 1.5rem;
        height: 1.5rem;
        background: var(--clr-secondary);
        text-align: center;
    }

/*Adoption Page*/
.page-flex-container {
    display: flex;
    gap: 0.8rem;
    justify-content: space-between;
}

.project-info-container {
    max-width: 65%;
    border-radius: 1rem;
    padding: 0.3rem;
    background: var(--clr-background-soft);
}

.project-info-header {
    border-bottom: 1px solid var(--clr-primary);
    margin-bottom: 0.8rem;
}

.project-adoption-container {
    max-width: 35%;
}

.project-status {
    padding: 0.4rem;
    padding-bottom: 0.05rem;
    border-radius: 0.8rem;
}

.project-status-Started {
    background-color: #00ff6b20;
}

.project-status-Undefined {
    background-color: #9c00ef20;
}

.project-status-Finished {
    background-color: var(--clr-primary);
}

.project-status-Impediment {
    background-color: #db000020;
}

.project-status-Important {
    background-color: #00c1ff20;
}

.project-status-Hidden {
    color: white;
}

@media(max-width: 1000px) {
    .page-flex-container {
        display: block;
    }

    .project-info-container, .project-adoption-container {
        max-width: 100%;
    }
}

/*Project Table*/
.table-container {
    padding: 0 10%;
    margin: 2.5rem 0 2.5rem 0;
}

.project-table {
    width: 100%;
    border-collapse: collapse;
    font: 0.9em;
}

    .project-table thead {
        background-color: var(--clr-background-soft);
    }

        .project-table thead tr {
            background-color: var(--clr-primary-soft) /*#4ba457*/;
            color: white;
            text-align: left;
            font-weight: bold;
        }

            .project-table thead tr th {
                padding: 0.75rem;
                vertical-align: top;
                border: 1px solid var(--clr-background-contrast-soft);
            }

    .project-table tbody tr td {
        padding: 0.5rem;
        border: 1px solid var(--clr-background-contrast);
    }

    .project-table th,
    .project-table td {
        padding: 0.75rem 1rem;
    }

    .project-table tbody tr {
        border-bottom: 1px solid var(--clr-primary);
    }

        .project-table tbody tr:nth-of-type(even) {
            background-color: var(--clr-background-contrast-soft);
        }

        .project-table tbody tr:last-of-type {
            border-bottom: 2px solid var(--clr-primary);
        }

@media (max-width: 768px) {
    .project-table thead {
        display: none;
    }

    .project-table, .project-table tbody, .project-table tr, .project-table td {
        display: block;
        width: 100%;
    }

        .project-table tr {
            margin-bottom: 1rem;
        }

        .project-table tbody tr td {
            text-align: right;
            padding-left: 50%;
            position: relative;
        }

        .project-table td:before {
            content: attr(data-label);
            position: absolute;
            left: 0;
            width: 50%;
            padding-top: 0;
            padding-left: 1rem;
            top: 0.6rem;
            font-weight: bold;
            font-size: 1rem;
            text-align: left;
        }

    .alt-tittle {
        background-color: var(--clr-primary-soft);
    }
}

/*Project Panel*/
.project-container{
    display: flex;
}

.project-panel-container {
    max-width: 100%;
    display: flex;
    gap: 1rem;
    margin: auto;
}

.project-panel {
    padding: 0.2rem 0.5rem;
    border: solid 2px var(--clr-background-contrast);
    margin: 1rem 0rem;
    background: #09090971;
    min-width: 50%;
}

.project-panel-multi {
    display: flex;
    gap: 1rem;
}


.project-panel-title {
    border-bottom: solid 2px var(--clr-primary-soft2);
}

    .project-panel-title h2 {
        margin: 0rem;
    }

.project-panel-desc {
    margin: 0.5rem 0rem;
}

    .project-panel-desc p {
        margin: 0rem;
    }

.project-panel p {
    margin: 0rem;
    margin: 0.5rem 0rem;
    color: var(--clr-font-soft);
    font-size: 0.75rem;
}

.project-panel-title-small {
    color: var(--clr-primary-soft2);
    font-size: 0.74rem;
}

.project-panel .btn-primary{
    width: 100%!important;
    margin: 0rem 0.5rem;
    margin-bottom: 0.5rem;
}


@media (max-width: 768px) {
    .project-panel-multi, .project-panel-container {
        display: block;
    }
}
